@media {
    
.container-fluid {
    background-color: #f4f3ee;      
}

h1 {
    font-size: 42px;
    font-family: 'Noto Serif', serif;
    color: #463f3a;
    font-weight: bold;
	margin: 0px 0px 10px 0px;
}
h2 {
   font-size: 39px;
    font-family: 'Noto Serif', serif;
    color: #463f3a; 
    font-weight: bold;
    text-underline-position: below; 
	margin: 0px 0px 10px 0px;
	
}

p {
    font-family: 'Noto Serif', serif;
    color: #463f3a;
    line-height: 25px;
    
}

h3 {
    font-family: 'Noto Serif', serif;
    color: #463f3a;
    font-size: 27px;
}

h4 {
    font-family: 'Noto Serif', serif;
    color: #463f3a;
    font-size: 18px;
}

h5 {
    font-family: 'Noto Serif', serif;
    color: #463f3a;
    font-size: 17px;
    font-family: italic;
}

h6 {
  font-size: 25px;
    font-family: 'Noto Serif', serif;
    color: #463f3a;  
}


#topper {
    background-color:#e0afa0;
    border-width: inherit;
}

 .topper-headshot {
        margin: auto;
    }
    
    
.bi {
    font-size: 3em;
}

.col-md-4 {
    
}

#bottom {
    background-color: #bcb8b1;
    border-width: inherit;

}

img {
    border-radius: 50%;
    width: 200px;
    border:3px solid black;
    margin: 10px 0px 0px 10px;
    
}

button {
    background-color: #463f3a;
    color:#e0afa0;
    font-family: 'Noto Serif', serif;
    width: 85px;
    padding: 8px;
    border: none;
    border-radius: 5px;

    
}
	
button a {
		color:white;
		text-decoration:none;
	}
	
button a:hover {
		color:white;
		text-decoration:underline;
	}
	
li {
    font-family: 'Noto Serif', serif;
    color: #463f3a;
    line-height: 25px;
    
}
	
	.section {
		0px 200px 0px 0px
	}

.nav {
    font-size: 20px;
    width: 100%;
}

.nav-link{
    color: #463f3a;
}
.nav-link:hover {
    color: #463f3a;
    text-decoration: underline;
}
    

@media (min-width: 576px) {
  img {
    margin: 10px 0px 0px 10px;
}
}
  
    
@media (min-width: 992px) {
   img {
    margin: 10px 0px 0px 10px;
}
}